# Day 08 continue - Pandas working with XML.

This includes:
- Read XML and get Dataframe
- Convert Dataframe to XML

#### What is **XML**?
1. XML stands for eXtensible Markup Language
2. XML is a markup language much like HTML
3. XML was designed to store and transport data
4. XML was designed to be self-descriptive
5. XML is a W3C Recommendation

Introduction to XML [Click Here](https://developer.mozilla.org/en-US/docs/Web/XML/XML_introduction)

In [6]:
import pandas as pd

In [7]:
pd.read_xml('test.xml')

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [10]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Uzair</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
    <firstname></firstname>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname></firstname>
 </row>
</data>'''

In [11]:
pd.read_xml(xml)

C:\Users\Uzair Hussain\AppData\Local\Temp\ipykernel_856\2704978085.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Uzair
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [12]:
# <!--  Format to write an XML file-->
# <book>
#     <title>Harry Potter and the Sorcerer's Stone</title>
#     <author>J.K. Rowling</author>
#     <year>1997</year>
# </book>

In [17]:
xml2 = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Uzair"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Hussain"/>
</data>'''

# row 1,2 do not have lastname, while row2,3 do not have first name

In [18]:
pd.read_xml(xml2)

C:\Users\Uzair Hussain\AppData\Local\Temp\ipykernel_856\1686713709.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml2)

      shape  degrees  sides firstname lastname
0    square      360    4.0     Uzair     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None  Hussain

In [19]:
pd.read_xml(xml2, xpath='.//row')

C:\Users\Uzair Hussain\AppData\Local\Temp\ipykernel_856\1786417899.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_xml(xml2, xpath='.//row')

      shape  degrees  sides firstname lastname
0    square      360    4.0     Uzair     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None  Hussain

In [22]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com"> 
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''


# <doc:data xmlns:doc="https://example.com"> this second line is namespace and if you are using namespace in code file than you have to use that in xpath alsp

In [29]:
df=pd.read_xml(xml, xpath='.//doc:row', namespaces={"doc": "https://example.com"})

C:\Users\Uzair Hussain\AppData\Local\Temp\ipykernel_856\1561571042.py:1: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_xml(xml, xpath='.//doc:row', namespaces={"doc": "https://example.com"})

In [30]:
df

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [31]:
df.to_xml('test1.xml')