# Day 11 cont. - Python Data Classes

This includes:
- Python Data Classes
- init()
- repr()
- eq()

## Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as __init__, __repr__, and __eq__, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [8]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

1. __init__(): Initializes the object and assigns the provided values to the attributes.
2. __repr__(): Provides a string representation of the object.
3. __eq__(): Implements equality comparison between two objects of the class based on their attributes.

In [7]:
class Person:
    def __init__(self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession
        

# this same class we can create using dataclass.

@dataclass
class Person:
    name:str
    age:int
    profession:str

In [2]:
person1=Person('Uzair',21,'SWE')
person1

Person(name='Uzair', age=21, profession='SWE')

In [9]:
person2=Person('Abbas',23,"CSE")
person2

Person(name='Abbas', age=23, profession='CSE')

In [10]:
person1.age

21

In [11]:
person2.name

'Abbas'

In [4]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [12]:
rectangle1

Rectangle(width=12, height=14, color='white')

In [13]:
rectangle2

Rectangle(width=13, height=14, color='red')

In [5]:
rectangle2.color

'red'

In [25]:
# frozen=True makes the object immutable, 
# # i.e. you can't change the values of the object

@dataclass(frozen=True) 
class Point:
    x:int
    y:int

In [26]:
point=Point(3,4)

In [27]:
point.x,point.y

(3, 4)

In [28]:
# update the vale of x, we can not change the value of x because we have used frozen=True
point.x=5

FrozenInstanceError: cannot assign to field 'x'

In [29]:
## inheritance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [30]:
person=Person('Uzair',22)
employee=Employee("Subhan",31,'ABC123','SWE')

In [32]:
person.name

'Uzair'

In [31]:
employee.name

'Subhan'

In [33]:
## Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address # nested dataclass

In [39]:
address=Address('123 Main street','Hyderabad','71000')
person=Person("Uzair",32,address)

In [36]:
person.address.city

'Hyderabad'

In [40]:
person.address.street

'123 Main street'

In [41]:
person.address.zip_code

'71000'

In [42]:
#  Nested University and Department Data Classes

@dataclass
class Department:
    subject:str
    code:str
    dean:str

@dataclass
class University:
    name:str
    location:str
    department:Department

In [43]:
depart=Department('Software Engineering','SW101','Dr. Naeem Ahmed Mahoto')
university=University('MUET','Jamshoro',depart)

In [45]:
depart

Department(subject='Software Engineering', code='SW101', dean='Dr. Naeem Ahmed Mahoto')

In [46]:
university

University(name='MUET', location='Jamshoro', department=Department(subject='Software Engineering', code='SW101', dean='Dr. Naeem Ahmed Mahoto'))