# Day 04 - Sets and Dictionaries

This includes:
- Sets
- Dictionaries
- Tuples

## SETS

A Set is an **unordered** collection data type that is **iterable**, **mutable**, and has no duplicate elements. 

Python's set class represents the mathematical notion of a set.

This is based on a data structure known as a hash table

In [6]:
print(type({}))  # <class 'dict'>
print(type({1})) # <class 'set'>

# in dictionary there is key value pair
# in set there is independent values

<class 'dict'>
<class 'set'>

In [5]:
## Defining an empty set

setvar = set()
print(setvar)
print(type(setvar))

set()
<class 'set'>

In [10]:
set({1, 2, 3, 4, 5})
print(set({1, 2, 3, 4, 5, 5}))

{1, 2, 3, 4, 5}

In [16]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [14]:
setvar[2]
# it is not subscriptable so we can not access the value by index

TypeError: 'set' object is not subscriptable

In [26]:
setvar={"Avengers","IronMan",'Hitman'}
# print(set_var)
for i in setvar:
    print(i)

IronMan
Hitman
Avengers

#### In built functions in Sets

In [28]:
print(setvar)

#  add() methods add in the front of the set
setvar.add("Hulk")
print(setvar)

{'IronMan', 'Hitman', 'Avengers'}
{'Hulk', 'IronMan', 'Hitman', 'Avengers'}

In [29]:
set1=set([4,12,543,1,2])
print(set1)

{1, 2, 4, 12, 543}

In [31]:
set1.add(19)

In [32]:
print(set1)

{1, 2, 4, 12, 19, 543}

In [33]:
set1.remove(12)

In [34]:
print(set1)

{1, 2, 4, 19, 543}

In [62]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [43]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [44]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [45]:
#  it will perform intersection of two sets and update the internsection set in set2
set2.intersection_update(set1)

In [46]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [54]:
# Difference will display the different element from both of the set
set2.difference(set1)

{'Hulk2'}

In [55]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [56]:
# difference update will update that element in set 2
set2.difference_update(set1)

In [57]:
set2

{'Hulk2'}

In [63]:
set2.issubset(set1)

False

In [64]:
set2.issuperset(set1)

True

In [65]:
set1.issuperset(set2)

False

In [66]:
set1.issubset(set2)

True

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. 

In Python dictionaries are written with curly brackets, and they have keys and values.

In [72]:
print(type({}))
print(type({2}))
print(type({2:"Uzair"}))

<class 'dict'>
<class 'set'>
<class 'dict'>

In [67]:
dict={}

In [68]:
type(dict)

dict

In [70]:
type(dict)

dict

In [73]:
mydict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [78]:
# Access the item values based on keys
mydict['Car3']

'Mercidies Benz'

In [79]:
mydict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [80]:
mydict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [82]:
mydict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [89]:
#  iterating through loop

#it will print only keys 
for x in mydict:
    print(x)

# it will print values
for x in mydict.values():
    print(x)

# it will print keys and values
for x in mydict.items():
    print(x)

Car1
Car2
Car3
Audi
BMW
Mercidies Benz
('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [90]:
# adding items in dictionary
mydict["Car4"]="Porsche"

In [91]:
mydict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Porsche'}

#### Nested Dictionaries

In [92]:
car1_model={"Audi": 1970}
car2_model={"BMW": 1980}
car3_model={"Mercidies Benz": 1990}
car4_model={"Porsche": 2000}


car_type={"Car1":car1_model,"Car2":car2_model,"Car3":car3_model,"Car4":car4_model}

print(car_type)

{'Car1': {'Audi': 1970}, 'Car2': {'BMW': 1980}, 'Car3': {'Mercidies Benz': 1990}, 'Car4': {'Porsche': 2000}}

In [98]:
print(car_type["Car1"]["Audi"])

1970

In [99]:
print(car_type["Car3"]["Mercidies Benz"])

1990

## Tuples

In [100]:
# creating an empty tuple
mytuple=tuple()

In [102]:
type(mytuple)

tuple

In [103]:
mytuple=("Uzair","Ali","Hassan")

In [105]:
mytuple

('Uzair', 'Ali', 'Hassan')

In [108]:
mytuple.count("Uzair") # it will count the number of occurance of the element in the tuple

1

In [109]:
mytuple[0]="Hussain"

TypeError: 'tuple' object does not support item assignment

In [111]:
mytuple.index("Hassan")

2