# Day 01- Basics of Python
This includes:
- Hello World
- Comments
- Variable Declaration
- Typecasting
- Types of Variables
  - Boolean
  - Integer
  - String
  - Complex Numbers
- Dynamic Typing
- String Formatting

In [1]:
print("Hello World")

Hello World

In [2]:
print("This is the beginnering of my 75 days data science challenge.")

This is the beginnering of my 75 days data science challenge.

**Comments**: Notes in the code that the interpreter ignores, used to explain the code. In Python, they start with #.

In [3]:
# Commenting and its types

# Single line commenting we done with "hash" symbol.

# Multi line commenting we done with "triple quotes" symbol.
    
'''
    This is the multi line commenting.
    This is the second line of multi line commenting.
'''

print("hello world after commenting some lines")

hello world after commenting some lines

**Variable** **Declaration**: Creating a variable and assigning it a value. E.g., x = 5.

In [4]:
#  Variable Declaration
a=10
type(a)

int

In [5]:
print(a)

10

In [1]:
tenth=10
b=40
c="uzair"

In [3]:
print(type(c))
print(type(b))
print(type(tenth))

<class 'str'>
<class 'int'>
<class 'int'>

In [4]:
al=10

In [9]:
first_name="Uzair"
last_name="Hussain"

print(first_name +" "+ last_name)

Uzair Hussain

**Types of Variables:**
1. Boolean: Represents True or False.
2. Integer: Whole numbers, e.g., 42.
3. String: Sequence of characters, e.g., "Hello".
4. Complex Numbers: Numbers with real and imaginary parts, e.g., 3 + 4j.

In [11]:
#  Defining Integers
a=10
print(type(a))

print(a)

<class 'int'>
10

In [12]:
print(a+13)
print(a-7)
print(a*23)
print(a/6)

23
3
230
1.6666666666666667

In [15]:
a=43
b=98
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

141
-55
4214
0.4387755102040816
43

In [18]:
#  Defining Float
a=190.5
print(a)
b=234
print(b)

190.5
234

In [19]:
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [21]:
float(b)

234.0

In [22]:
# Boolean
a1=True
a2=False
print(type(a1))
print(type(a2))

<class 'bool'>
<class 'bool'>

In [24]:
a1 | a2  # this will perform OR(any one condition to be true) operation on a1 and a2.

True

In [26]:
a1 & a2  # this will perform AND(every condition has to be true) operation on a1 and a2.

False

In [27]:
# Strings
name1="Uzair"
name2="Hussain"
print(name1)
print(name2)
print(type(name1))

Uzair
Hussain
<class 'str'>

In [28]:
name1 + " " + name2 + " " + "Shaikh"

'Uzair Hussain Shaikh'

In [29]:
name1 + str(193)

'Uzair193'

In [31]:
# Complex Numbers
i=1.0-2.3j
print(i)

(1-2.3j)

In [35]:
print("Real Number: ",i.real,"\nImaginary Number: ", i.imag)

Real Number:  1.0
Imaginary Number:  -2.3

**Dynamic** **Typing**: Python variables can change type automatically. E.g., x = 10 then x = "Hello".

In [37]:
# Dynamic Typing
x=193
print(x)

x="Khan"

print(x)

193
Khan

In [39]:
# Strong Typing
a="Uzair"

In [40]:
a+str(193)

'Uzair193'

**String Formatting**: Inserting variables into strings using formats like f-strings. E.g., f"Hello, {name}".

In [43]:
# String Formatting
a=193
print("The value of a is: ",a)

The value of a is:  193

In [49]:
first_name="Uzair"
middle_name="Hussain"
last_name="Shaikh"
print("My first name is {a} and last name is {b}".format(a=first_name,b=last_name))
print("My first name is : {a} \nmiddle name is : {b}\nlast name is : {c}".format(a=first_name,b=middle_name,c=last_name))

My first name is Uzair and last name is Shaikh
My first name is : Uzair
middle name is : Hussain
last name is : Shaikh

In [51]:
# Input Function
a=input("Enter the value of a: ")
b=input("Enter the value of b: ")
print(int(a)+int(b))

46