# Day 04 - Lists 
This includes:
- Lists and its inbuilt methods like
  - append()
  - extend()
  - insert()
  - max()
  - min()
  - pop()
  - len()

---
### --> Python Data Structures

This includes:
- Boolean
- Boolean and Logical Operators
- Lists
  - append()
  - extend()
  - insert()
- Comparison operators
- Dictionaries
- Tuples
- Sets

### 1. Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
print(True,False)
print(type(True))
print(type(False))
mystr="Uzair123"

True False
<class 'bool'>
<class 'bool'>

In [2]:
mystr.istitle()

True

In [4]:
print(mystr.isalnum()) #check if all char are numbers
print(mystr.isalpha()) #check if all char in the string are alphabetic
print(mystr.isdigit()) #test if string contains digits
print(mystr.istitle()) #test if string contains title words
print(mystr.isupper()) #test if string contains upper case
print(mystr.islower()) #test if string contains lower case
print(mystr.isspace()) #test if string contains spaces
print(mystr.endswith('k')) #test if string endswith a d
print(mystr.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

In [8]:
mystr="Uzair"
mystr2="Hussain"
mystr.isalpha() or mystr2.isnum()

True

### 2. Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [9]:
# mutable vs immutable
str1="Uzair"
print(str1)
type(str1)

Uzair

str

In [15]:
str1="Hussain"
print(str1)
str1="Uzair"

Hussain

In [13]:
type([])

list

In [18]:
str1[0]

'U'

In [19]:
# strings are immutable
str1[2]="jk"

TypeError: 'str' object does not support item assignment

In [24]:
# Lists
lst=[1,2,3,"Khan","Bahadur"]
print(lst)

[1, 2, 3, 'Khan', 'Bahadur']

In [25]:
lst[4]="Pathan"
print(lst)

[1, 2, 3, 'Khan', 'Pathan']

In [23]:
# to pick an item using index
print(lst[4])

Bahadur

In [28]:
# we can also create a list using list() function
lst1=list([32,533,121,"Pak","Ind"])
print(lst1)
print(type(lst1))

[32, 533, 121, 'Pak', 'Ind']
<class 'list'>

In [30]:
len(lst1)
# it will give the length or sizes or number of elements in list.

5

In [34]:
trylist=[2,4,6,8,10]
for i in trylist:
    print(i**2)

4
16
36
64
100

In [35]:
max(trylist)

10

In [37]:
min(trylist)

2

#### Append
- This is the inbuilt function of lists

In [38]:
lst

[1, 2, 3, 'Khan', 'Pathan']

In [39]:
lst.append("Uzair")
# it added item at the end of the lists

In [40]:
lst

[1, 2, 3, 'Khan', 'Pathan', 'Uzair']

In [42]:
lst.append(["Hussain","Shaikh"])
# it will append the list as a single element
lst

[1,
 2,
 3,
 'Khan',
 'Pathan',
 'Uzair',
 ['Hussain', 'Shaikh'],
 ['Hussain', 'Shaikh']]

In [44]:
#  we got multiple similar items so now we will delete them.
lst.remove(["Hussain","Shaikh"]) # it will remove the exact same occurance of the element

In [45]:
lst

[1, 2, 3, 'Khan', 'Pathan', 'Uzair', ['Hussain', 'Shaikh']]

In [46]:
# to remove element using index
del lst[6]

In [47]:
lst

[1, 2, 3, 'Khan', 'Pathan', 'Uzair']

In [48]:
# to add two seperate items in lst
lst.extend(["Hussain","Shaikh"])

In [49]:
lst

[1, 2, 3, 'Khan', 'Pathan', 'Uzair', 'Hussain', 'Shaikh']

In [50]:
lst.append(["K","H"])

In [51]:
lst

[1, 2, 3, 'Khan', 'Pathan', 'Uzair', 'Hussain', 'Shaikh', ['K', 'H']]

In [55]:
lst[3:7]    # we use : to range of index to see elements

['Khan', 'Pathan', 'Uzair', 'Hussain']

### Insert

In [59]:
# insert to a specific order
lst.insert(2,"Papa")
#  it will add at that index and move all the items one index forward

In [61]:
lst.remove("Papa")

In [62]:
lst

[1, 2, 'Papa', 3, 'Khan', 'Pathan', 'Uzair', 'Hussain', 'Shaikh', ['K', 'H']]

In [63]:
del lst[5]
del lst[6]
del lst[7]

In [64]:
lst

[1, 2, 'Papa', 3, 'Khan', 'Uzair', 'Shaikh']

In [65]:
del lst[4]

In [66]:
del lst[3]

In [67]:
lst

[1, 2, 'Papa', 'Uzair', 'Shaikh']

In [68]:
lst.append("Hussain")

In [69]:
lst

[1, 2, 'Papa', 'Uzair', 'Shaikh', 'Hussain']

### Extend

In [70]:
lst=[1,2,3,4,5,6]

In [71]:
lst.extend([7,8,9])

### Some other operations

In [72]:
sum(lst)

45

In [75]:
lst*2 # it will print twice the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0
1.2
1.4
1.6
1.8

### Pop() method

In [77]:
# it will will pop out the top most element from list, prints and then deletes that element from the list
lst.pop()

9

In [78]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
lst.pop(3) # pops out acc to index

4

### count():Calculates total occurrence of given element of List

In [80]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [81]:
#length:Calculates total length of List
len(lst)

6

In [82]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [83]:
##Min and Max
min(lst)

1

In [84]:
max(lst)

5